<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<body>
    <h1>Welcome, {{user.username}}</h1>
    {% if user.is_authenticated %}
    <a href = "{% url 'logout1' %}">Logout</a>
    {% endif %}
<h2>TODOLIST</h2>
<a href = "{% url 'todo_create' %}">Add todolist</a>
<ul>
    {% for ta in task %}
    <li>
        <strong>{{ ta.Title }}</strong> - {{ ta.Description }}


        <a href = "{% url 'todo_update' ta.id  %}">{{"You can edit here"}}</a>
        <form action = "{% url 'todo_delete' ta.id  %}" method = "post" style="display:inline;">
            {% csrf_token %}
            <input type = "submit" value="Delete">

        </form>

    </li>
    {% endfor %}
</ul>



</body>
</html>